# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Data folders
data/*
!data/.gitkeep

logs/*
!logs/.gitkeep

models/*
!models/.gitkeep

reports/*
!reports/.gitkeep

# Data files
*.csv
*.parquet

# IDE / OS
.vscode/
.idea/
.DS_Store
